<div class="container">
  <div class="mt-5 row justify-content-md-center">
    <div class="col"><h1>Internal error happend</h1></div>
  </div>
  <div class="mt-5 row justify-content-md-center">
    <div class="col"><h3>You can visit <a href="/import">import CSV page</a></h3></div>
  </div>
</div>
