<div class="d-flex flex-column">
  <table class="table mt-3">
    <thead>
      <tr>
        <% Estate.new.attributes.keys.each do |key| %>
          <th scope="col"><%= key %></th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @estates.each do |estate| %>
        <tr>
          <% estate.attributes.values.each do |value| %>
            <td>
              <%= truncate(value.to_s, length: 80) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= paginate @estates %>
</div>
